name: CI Pipeline

on: push

jobs:
  ml-pipeline:
    runs-on: ubuntu-latest

    steps:
      - name: checkout code
        uses: actions/checkout@v3

      - name: setup python
        uses: actions/setup-python@v2
        with:
          python-version: '3.10'

      - name: Cache pip dependencies
        uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: install dependencies
        run: |
          pip install -r requirements.txt

    #   - name: run pipeline
    #     env:
    #       DAGSHUB_TEST:
    #       AWS_ACCESS_KEY:
    #       AWS_SECRET_KEY: 
    #     run: |
    #       dvc repro

      - name: run tests
        env:
            DAGSHUB_TEST: ${{ secrets.DAGSHUB_TEST }}
        run: |
          pytest
          
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
            aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY }}
            aws-secret-access-key: ${{ secrets.AWS_SECRET_KEY }}
            aws-region: ${{ secrets.AWS_REGION }}

      - name: Login to ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1

      - name: Build, tag and push image to ECR
        id: build-image
        env:
            ECR_REGISTRY:  ${{steps.login-ecr.outputs.registry}}
            ECR_REPOSITORY: ${{ secrets.ECR_REPOSITORY }}
        run: |
            docker build -t $ECR_REGISTRY/$ECR_REPOSITORY:latest .
            docker push $ECR_REGISTRY/$ECR_REPOSITORY:latest

      - name: Set Up kubectl
        uses: azure/setup-kubectl@v3
        with:
            version: 'latest'
      
      - name: Update kubeconfig
        run: |
          aws eks update-kubeconfig --region us-east-1 --name flask-app-cluster

      - name: Create Kubernetes Secret
        run: |
          kubectl create secret generic capstone-secret \
            --from-literal=DAGSHUB_TEST=${{ secrets.DAGSHUB_TEST }} --dry-run=client -o yaml | kubectl apply -f -

      - name: Deploy to EKS
        run: |
          kubectl apply -f manifest.yaml